<!doctype html>
<html lang="fr">
<head><meta charset="utf-8"></head>
<body>
<style type="text/css"> body{width: 1200px; margin: 0 auto; } .align{display: inline-block;} .un{width: 300px;} .deux{width: 590px; margin-bottom: -10%;} .quatre{width: 1190px;} </style>
<script src="" ></script>
<!-- script pour le flibook -->
<div class="align un">
<img src="../img/4.png">
<!-- image du flipbook -->
<p>
Livre format 210x150mm
<br />
52 pages+couverture
<br />
Dos carré collé
<br />
ISBN:9782376730002
</p>
</div>

<div class="align deux">
	<h3>PENSEES SAUVAGES</h3>
	<h4>Patrick Le Divenah</h4>
	<p>«Non,les mots n’ont pas de sens… interdit!»
C’est ce que clament ces «Pensées sauvages»,où l’humour des dessins fait
écho à celui des aphorismes.Des aphorismes? Plutôt des pensées,tout juste
surgies,des émotions encore vibrantes,des jeux sonores et visuels,jaillis
spontanément.Pas si gratuits qu’il n’y paraît,ils nous éclaboussent de leur
révolte,de leur humour,ou des deux à la fois.Mais il arrive qu’au détour d’une
page,un chant de sérénité offre son apaisement,ou son trouble bienfaisant.
On ne sort pas indemne d’une telle aventure où le paradoxe,omniprésent,
déroute nos certitudes.Cure salutaire,qui mériterait d’être remboursée par
l’InSécurité sociale.</p>
<br /><br /><br /><br />
</div>
<div class="align quatre">
	<h3>L’auteur
</h3>
	<p>Bigame aussi amoureux du mot que de l’image,Patrick Le Divenah associe
souvent les deux dans ses créations littéraires et plasticiennes.Publié dans
de nombreuses revues et chez plusieurs éditeurs,c’est la poésie qui est son
domaine privilégié,mais on peut lire aussi ses nouvelles où l’étrange,le
bizarre,le paradoxal et la satire se donnent libre cours.C’est également cet
univers qu’on retrouve dans ses œuvres graphiques</p>
</div>
</body>
</html>