
	<nav class="menu">

				<br />
				<ul>
				<li><a href="accueil.html" class="choix">Accueil</a></li>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<li><a href="accueil.html" class="choix">Catalogue</a>
					<ul>
						<li>Paru</li>
						<li>Souscription</li>
					</ul>
				</li>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<li><a href="accueil.html" class="choix">Librairie</a>
					<ul>
						<li>Soirée</li>
						<li>Atelier</li>
						<li>Exposition</li>
					</ul>
				</li>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<li><a href="accueil.html" class="choix">Contact</a></li>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<li><a href="accueil.html" class="choix">Connexion</a></li>
				</ul>
				<br />
				<br />
			</nav>
