<!doctype html>
<html lang="fr">

<body>
<style type="text/css"> body{width: 1200px; text-align: center; margin: 0 auto; border: solid black 1px; } .slider{display: inline-block; width:890px; border: solid black 1px;} .news{display: inline-block; width:290px; } .align{text-align: left;margin-left: 5%;} hr{width:280px; float: left;margin-left: 2.5%;} #align{width: 890px;}</style>
 	<div class="slider"><!-- SLIDER  -->
 		<br /><br /><br /><br /><br /><br /><br /><br />
 	</div>
 	<div class="news">
 	Restez informé
 	<hr>
 	Recevez par mail les dernières actualités
<br /><br/>
<input type="text" name="name" placeholder="Nom">
<br />
<input type="mail" name="mail" placeholder="mail">
<br /><br/>
<input type="button" value="S'Abonner">
 	</div>
 	<div><h3 class="align">La maison d'édition</h3>
 	<hr>
 	<br/>
 	<p>
 	Lorem ipsum dolorsitamet,consecteturadipiscingelit.Vestibulum scelerisquenislvestibulum auguesuscipit,idiaculis
	augueefficitur.Morbivelgravidadui.Vestibulum convallis,justoetconsecteturefficitur,nibhelitconvallisnisl,utfacilisis
	elitexetnulla.Quisqueconsecteturodioportatortorinterdum,mattisdapibustellusfringilla.Nuncrutrum tellushendrerit
	pellentesquefeugiat.Curabiturmollisanteafelissempertincidunt.Quisquequismaximusarcu.Praesentvenenatis
	elementum aliquam.Nullam viverravelitetfacilisisaliquam.Craseumollisorci.Integereuefficiturnisl.Donecsem velit,
	pretium sitametporttitorid,tempusutvelit.Proinfacilisissapienmi,atfinibusenim molestieut.Praesentullamcorperorci
	idduigravidacongue.Praesentegetvehiculaex.
	</p>
 	</div>

 	<div><h3 class="align">Zone d'édition libre</h3>
 	<hr>
 	<br/>	
 	<p id="align">Lorem ipsum dolorsitamet,consecteturadipiscingelit.Vestibulum scelerisquenislvestibulum auguesuscipit,idiaculis
	augueefficitur.Morbivelgravidadui.Vestibulum convallis,justoetconsecteturefficitur,nibhelitconvallisnisl,utfacilisis
	elitexetnulla.Quisqueconsecteturodioportatortorinterdum,mattisdapibustellusfringilla.Nuncrutrum tellushendrerit
	pellentesquefeugiat.Curabiturmollisanteafelissempertincidunt.Quisquequismaximusarcu.Praesentvenenatis
	elementum aliquam.Nullam viverravelitetfacilisisaliquam.Craseumollisorci.Integereuefficiturnisl.Donecsem velit,
	pretium sitametporttitorid,tempusutvelit.Proinfacilisissapienmi,atfinibusenim molestieut.Praesentullamcorperorci
	idduigravidacongue.Praesentegetvehiculaex.
	</p>
	<img src="">
 	</div>
</body>
</html>