<!doctype html>
<html lang="fr">

<body>
<style type="text/css"> body{width: 1200px; margin: 0 auto;  border: solid black 1px;  } .align{display: inline-block;} .un{width: 300px;}  .deux{width: 890px; padding-top: -300px; position: absolute;} .trois{width: 890px; position: absolute; margin-top: 150px;} .align2{display: inline-block;} </style>

<div class="align un">
	<h3>mes infos de connexion</h3>
	<br />
	<p>Lorem ipsum dolor sit amet.<br />
	Lorem ipsum dolor sit amet.<br />
	Lorem ipsum dolor sit amet.<br />
	</p>
	
	<h3>adresse de facturation</h3>
	<br />
	<p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
	
	<h3>adresse de livraison</h3>
	<br />
	<p>Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.</p>
	
	<h3>mes infos personnelles</h3>
	<br />
	<p>Lorem ipsum dolor sit amet.<br />
	Lorem ipsum dolor sit amet.<br /></p>
	Lorem ipsum dolor sit amet.<br />
	Lorem ipsum dolor sit amet.
</div>

<div class="align deux">
	<h3>mes derniere commande</h3>
	<div class="align2">titre</div>
	<div class="align2">adresse de livraison</div>
	<div class="align2">prix</div>
	<div class="align2">statut</div>
	<div class="align2">date de commande</div>
	<a href="">historique de commande</a>
</div>

<div class="align trois">
	<h3>mes projet financés</h3>
	<div class="align2">titre</div>
	<div class="align2">contribution atteinte</div>
	<div class="align2">don</div>
	<div class="align2">date</div>
	<a href="">historique des participation</a>
</div>
</body>
</html>