<!doctype html>
<html lang="fr">

<body>
    <style type="text/css">
        body {
            width: 1200px;
            text-align: center;
            margin: 0 auto;
        }

        #champ {
            text-align: right;
        }

    </style>

    <div>
        <!-- numerotation page -->
    </div>
    <div id="champ">
        <select class="espace" name="trier par" size="1">
				<option>nom</option>
				<option>auteur</option>
				<option>genre</option>
				<option>prix</option>
				</select>
        <input class="espace" type="search" name="recherche" placeholder="rechercher">
    </div>
    <br />
    <div>
        <?php if(isset($books)) : ?>
        <?php foreach($books as $book) :?>
        <h2>
            <?= $book -> getTitle() ?>
        </h2>
        <a href="<? $url ?>book/affiche/<?= $book -> getId_book() ?>"><img src="<?= $url ?>img/<?= $book -> getPicture() ?>"></a>

        <?php endforeach; ?>
        <a href=""><img src="../img/2.png"></a>
        <a href=""><img src="../img/3.png"></a>
        <a href=""><img src="../img/4.png"></a>
    </div>

    <br />

    <div>
        <a href=""><img src="../img/5.png"></a>
        <a href=""><img src="../img/4.png"></a>
        <a href=""><img src="../img/2.png"></a>
        <a href=""><img src="../img/3.png"></a>
    </div>
</body>

</html>
