<!doctype html>
<html lang="fr">

<body>
<style type="text/css"> body{width: 1200px; margin: 0 auto;  border: solid black 1px;  } .align{display: inline-block;} .un{width: 300px;} .deux{width: 590px;} .trois{width: 300px;} .quatre{width: 1190px;} </style>
<script src="" ></script>
<!-- script pour le flibook -->
<div class="align un">
<img src="">
<br /><br /><br /><br /><br /><br /><br />
<!-- image du flipbook -->
<p>
<br />
Livreformat210x150mm
<br />
52pages+couverture
<br />
Doscarrécollé
<br />
ISBN:9782376730002
</p>
</div>

<div class="align deux">
	<h3>PENSEES SAUVAGES</h3>
	<h4>Patrick Le Divenah</h4>
	<p>«Non,lesmotsn’ontpasdesens… interdit!»
C’estcequeclamentces«Penséessauvages»,oùl’humourdesdessinsfait
échoàceluidesaphorismes.Desaphorismes?Plutôtdespensées,toutjuste
surgies,desémotionsencore vibrantes,desjeuxsonores etvisuels,jaillis
spontanément.Passigratuitsqu’iln’yparaît,ilsnouséclaboussentdeleur
révolte,deleurhumour,oudesdeuxàlafois.Maisilarrivequ’audétourd’une
page,unchantdesérénitéoffresonapaisement,ousontroublebienfaisant.
On nesortpasindemned’unetelleaventureoù leparadoxe,omniprésent,
déroutenoscertitudes.Curesalutaire,quimériteraitd’êtrerembourséepar
l’InSécuritésociale.</p>
</div>
<div class="align trois"><!-- Espace crowfooding ...ect --></div>
<div class="align quatre">
	<h3>L’auteur
</h3>
	<p>Bigameaussiamoureuxdu motquedel’image,PatrickLeDivenah associe
souventlesdeuxdanssescréationslittérairesetplasticiennes.Publiédans
denombreusesrevuesetchezplusieurséditeurs,c’estlapoésiequiestson
domaine privilégié,mais on peutlire aussises nouvelles où l’étrange,le
bizarre,leparadoxaletlasatiresedonnentlibrecours.C’estégalementcet
universqu’onretrouvedanssesœuvresgraphiques</p>
</div>
</body>
</html>